.git
.gitignore
node_modules
npm-debug.log
*.bat
*.md
.env
.env.*
!.env.example
storage/app/public
storage/debugbar
storage/logs/*.log
bootstrap/cache/*.php
tests
phpunit.xml
.editorconfig
.gitattributes
